---
layout: _layout
title: wommy.io
---
{%- for post in collections.home -%}
<article id='{{post.data.title}}'>
	{{ post.templateContent }}
</article>
{%- endfor -%}
{%- for post in collections.inspiration %}
<article id='{{post.data.title}}'>
	<h2><a href="#{{post.data.title}}">{{post.data.title | downcase}}</a></h2>
	{{ post.templateContent }}
</article>
{%- endfor %}
<article id='hobbies'>
<h1><a href="#hobbies">hobbies :: aspects that define me</a></h1>
<hr />
{%- for post in collections.hobbies %}
<div id='{{post.data.title}}'>
	<h2 id='{{post.data.title}}'>{{post.data.title | downcase}}</h2>
	{{ post.templateContent }}
</div>
{%- endfor %}
</article>
