<nav id='social'>
	<h2>contact</h2>
	<a href='{{ global.phone }}' target="_blank">
		<img class='social' src='/assets/img/social/phone.svg' />
		<h2>phone</h2>
	</a>
	<a href='{{ global.email }}' target="_blank">
		<img class='social' src='/assets/img/social/email.svg'>
		<h2>email</h2>
	</a>
	{% comment %}<h2>social media</h2>{% endcomment %}
	<a href='{{ global.facebook }}' target="_blank">
		<img class='social' src='/assets/img/social/facebook.svg'>
		<h2>facebook</h2>
	</a>
	<a href='{{ global.twitter }}' target="_blank">
		<img class='social' src='/assets/img/social/twitter.svg'>
		<h2>twitter</h2>
	</a>
	<a href='{{ global.google+ }}' target="_blank">
		<img class='social' src='/assets/img/social/google-plus.svg'>
		<h2>google+</h2>
	</a>
	<a href='{{ global.instagram }}' target="_blank">
		<img class='social' src='/assets/img/social/instagram.svg'>
		<h2>instagram</h2>
	</a>
</nav>